/* IMPORT CALCULATOR FONT */
@import url("https://fonts.cdnfonts.com/css/pocket-calculator");

/* Red border for debugging and styling */
* {
   /* border: 2px solid red; */
   box-sizing: border-box;
}

html {
   background-color: rgb(240, 245, 169);
}

body {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

.body-container {
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
}

.body-container > .calculator-frame {
   display: flex;
   flex-direction: column;
   width: 450px;
   height: 600px;
   border: 2px solid #000000;
   border-radius: 10px;
   background-color: rgb(250, 215, 120);
   padding: 20px;
   row-gap: 20px;
   box-shadow: 7px 9px 2px 0px rgba(165, 165, 165, 0.51);
}

.calculator-frame > .display-panel {
   display: flex;
   flex-direction: column;
   height: 110px;
   background-color: rgb(112, 136, 137);
   border-radius: 5px;
   border: 2px solid black;
   font-family: "Pocket Calculator", sans-serif;
}

.display-panel > #upper-panel {
   flex: 1;
   display: flex;
   font-size: 30px;
   padding: 5px 10px 0px 10px;
   font-style: italic;
   justify-content: flex-end;
   align-items: center;
   overflow: hidden;
}

.display-panel > #lower-panel {
   flex: 2;
   display: flex;
   font-size: 70px;
   justify-content: flex-end;
   align-items: center;
   padding: 5px 10px 5px 10px;
   overflow: hidden;
}

.buttons-panel {
   flex: 1;
   display: flex;
   flex-direction: column;
   row-gap: 15px;
}

.buttons-panel > .display-buttons {
   flex: 1;
   display: flex;
   justify-content: space-around;
   gap: 15px;
}

.display-buttons > * {
   width: 100%;
   font-size: 40px;
   font-weight: 600;
   border-radius: 10px;
   background-color: rgb(255, 156, 156);
   border: 2px solid #000000;
   box-shadow: 3px 3px 2px 0px rgba(81, 80, 80, 0.51);
}

.buttons-panel > .calculation-buttons {
   flex: 4;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap-reverse;
   gap: 15px;
}

.calculation-buttons > .button {
   font-size: 40px;
   font-weight: 500;
   flex-shrink: 0;
   flex-grow: 1;
   min-width: 90px;
   border-radius: 10px;
   border: 2px solid #000000;
   box-shadow: 3px 3px 2px 0px rgba(81, 80, 80, 0.51);
}

.display-buttons > *:is(:hover) {
   transition: all 0.05s;
   background-color: rgb(164, 121, 121);
   box-shadow: none;
}

.calculation-buttons > *:is(:hover) {
   transition: all 0.05s;
   background-color: rgb(132, 132, 132);
   box-shadow: none;
}

#calculation-buttons > button.button.numeric.decimal:disabled {
   box-shadow: none;
   background-color: rgb(242, 240, 240);
}
